.idea 
__pycache__
*.pyc

log.out

# do not track vadere processor outputs and overview files (every computer as different paths, which results in changes for every commit)
vadere_scenarios
parid_lookup.csv


# pickle files
*.p


# folders / files when packaging
build
dist
suqc.egg-info
